@media (max-width: 560px) {
  #main-menu {
    display: none;
  }
  .header {
    background: rgb(21 21 21 / 89%);
    padding: 4px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 999;
  }
  .left-bar {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 560px) {
  .right-bar {
    display: none;
  }
}
@media (max-width: 560px) {
  .mobile-bottom-menu {
    display: block;
    position: sticky;
    top: 0;
  }
}
@media (max-width: 560px) {
  .about-left-panel {
    width: 100%;
    height: auto;
    padding: 2%;
    display: grid;
    justify-content: center;
  }
  .about-left-panel img {
    width: 200px;
    height: 200px;
  }
  .about-right-panel {
    display: block;
    width: 100%;
    padding: 2%;
    text-align: justify;
  }
  .skill-box {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .col-md-3 {
    width: 50%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }
}
@media (max-width: 650px) {
  .col-md-3 {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }
}
